<div class="page-header centered">
  <h1>Contato</h1>
</div>

<div class="span6 offset3 gray-box" style="margin-bottom: 150px;">
<%- model_class = ContactMessage -%>

<p><%= @site_page.content.html_safe %></p>
<%= render :partial => 'form' %>
</div>