
<div class="span9">
	
	<%= @project.content.html_safe %>
</div>


	<div class="span3" >
	<div data-spy="affix" data-offset-top="0" data-offset-right="0" class="gray-box" style="max-width: 203px; margin-right: 20px;">
		<div class="thumbnail" style="margin-bottom: 15px;">
			<img src="<%= @project.thumbnail_url %>">
		</div>
		<div>
			<%= @project.sidebar.html_safe %>
		</div>
	</div>
</div>