<%- model_class = Post -%>
<%t '.title', :default => model_class.model_name.human.pluralize.titleize %>

<div class="row-fuild">
	<div class="page-header" style="text-align: center;">
		 <h1>Blog</h1>
	</div>
</div>

<% counter = 0 %>
<ul class="thumbnails">
	<div class="row-fluid" style="margin-bottom: 10px;">
	<% @posts.each do |post| %>
		<% if counter > 2 %>
			</div>
			<div class="row-fluid">
			<% counter = 0 %>
		<% end %>
		<li class="span4">
		    <div class="thumbnail">
				<%= link_to image_tag(post.cover_image_url), url_for(post) %>
	      
			  <div class="thumbnail-content">
		      	<h3><%= link_to post.title, post_path(post) %></h3>
		      	<p><%= post.description %></p>
			  </div>
		    </div>
		</li>
		<% counter = counter + 1 %>
	<% end %>
</ul>