<%- model_class = Post -%>
<%t '.title', :default => model_class.model_name.human.pluralize.titleize %>

<ul class="thumbnails">
	<% @posts.each do |post| %>
	<li class="span4">
	    <div class="thumbnail">
			<%= link_to image_tag("http://placehold.it/1200x780"), url_for(post) %>
	      
		  <div class="thumbnail-content">
	      	<h3><%= link_to post.title, post_path(post) %></h3>
	      	<p><%= post.content %></p>
		  </div>
	    </div>
	</li>
	<% end %>
</ul>