<%- model_class = Post -%>

<img src="http://placehold.it/1200x780" alt="">

<div class="page-header">
  <h1><%= @post.title %></h1>
</div>

<div>
<%= @post.content %>
</div>




<div style="text-align: center; margin-top: 15px; margin-bottom: 25px;">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              posts_path, :class => 'btn'  %>
</div>
