<li>
	<% if params[:controller] == "posts" && params[:action] != "list" %>
  	  <%= link_to "editar", posts_list_path, :class => 'btn btn-primary btn-mini menu-btn', 
	  	:style => "height: 20px; padding: 5px; color: white; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);" %>
	 <% end %>
	 <% if params[:action] != "index" && params[:action] != "edit" && params[:action] != "edit_sobre" && params[:action] != "edit_contato" %>
		<% if params[:controller] == "site_pages" && params[:action] == "sobre" %>
		   <%= link_to "editar", sobre_editar_path, :class => 'btn btn-primary btn-mini menu-btn', 
		   	:style => "height: 20px; padding: 5px; color: white; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);" %>
		<% end %>
		<% if params[:controller] == "site_pages" && params[:action] == "contato"  %>
		   <%= link_to "editar", contato_editar_path, :class => 'btn btn-primary btn-mini menu-btn', 
		   	:style => "height: 20px; padding: 5px; color: white; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);" %>
		<% end %>
	<% end %>
</li>